<div class="header">
    <div class="form-group">
        <label for="char">Character</label>
        <input 
            placeholder="Character" 
            type="text" 
            [(ngModel)]="char"
            (keydown)="onCharKeydown($event)"
            (keyup)="onCharKeyup($event)" 
            [disabled]="inputDisabled" id="char">
    </div>
    <div class="clock"><img src="../assets/clock.png" width="60px"></div>
    <div>
        <button type="button" (click)="initGridGenerator()" [disabled]="buttonDisabled">Generate 2D grid</button>
    </div>
</div>
<table>
    <thead>
        <th></th>
        <th *ngFor="let item of indexes; let i = index">{{ i }}</th>
    </thead>
    <tbody>
        <tr *ngFor="let row of grid; let i = index">
            <td>{{i}}</td>
            <td *ngFor="let col of row">{{col}}</td>
        </tr>
    </tbody>
</table>

<app-display></app-display>