th {
    height: 50px;
    width: 9.09%;
}

td {
    text-transform: none;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: flex-end;
}

input {
    width: 87px;
}